<header>
    <div class="container-fluid">
      <div class="logo">
        <h5>Media Company</h5>
      </div>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: #3333ff; width: 60px;height: 30px;">
    Login
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title">Login</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
         <app-login></app-login>

        
        <!-- Modal footer
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
    </div>
</header>
