<div class="container-fluid">
    <div class="short-container">
     <img src="./assets/media.jpg" class="image">
     <div class="centered"><b>Media Company</b></div>
    </div>
    <div class="shortest-container">
        <p>The Media Company provide the free images as well as paid images. We bring you the nice images from all around the world.</p>

        <p>Media is the communication outlets or tools used to store and deliver information or data.The term refers to components of the mass media communications industry, such as print media, publishing, the news media, photography, cinema, broadcasting (radio and television), digital media, and advertising.</p>

        <p>The development of early writing and paper enabled longer-distance communication systems such as mail, including in the Persian Empire (Chapar Khaneh and Angarium) and Roman Empire, which can be interpreted as early forms of media.[4] Writers such as Howard Rheingold have framed early forms of human communication as early forms of media, such as the Lascaux cave paintings and early writing.[5] Another framing of the history of media starts with the Chauvet Cave paintings and continues with other ways to carry human communication beyond the short range of voice: smoke signals, trail markers, and sculpture.</p>
         
        <p>The Term media in its modern application relating to communication channels was first used by Canadian communications theorist Marshall McLuhan, who stated in Counterblast (1954): "The media are not toys; they should not be in the hands of Mother Goose and Peter Pan executives. They can be entrusted only to new artists because they are art forms." By the mid-1960s, the term had spread to general use in North America and the United Kingdom. The phrase "mass media" was, according to H.L. Mencken, used as early as 1923 in the United States.</p>
        
        <p>The term "medium" (the singular form of "media") is defined as "one of the means or channels of general communication, information, or entertainment in society, as newspapers, radio, or television."</p>
    
        <hr style="background-color: black;">

        <h3 style="text-align: center;"><b>MEET THE TEAM BEHIND</b></h3>

        <div class="member">
            <img src="./assets/Rick.png" class="image" style="height:100px; width:100px;">
            <img src="./assets/Morty.jpg" class="image" style="height:100px; width:100px;">
        </div>
    
    </div>
    </div>
