nav {
    background-color: #3333ff;
}

.row button{
    background-color: #3333ff;
            border: none;
            color: rgb(226, 226, 226);
}

.row button:hover{
    color: rgb(0, 0, 0);
    text-decoration:underline;
}