<div class="container-fluid">
    <div class="short-container">
        <div>
            <h5>“In photography there is a reality so subtle that it becomes more real than reality.”
                — Alfred Stieglitz</h5>
        </div>
      <img src="\assets\one.jpg" class="logo">

    
    <div style="margin-top: 20px;">
    <h5><b>More by Media Company: </b></h5>
    </div>
    <div class="gallery">
        <img src="\assets\second.jpg" class="logo" height="500px" width="500px">
        <img src="\assets\third.jpg" class="logo" height="500px" width="500px">
        <img src="\assets\fourth.jpg" class="logo" height="500px" width="500px">
        <img src="\assets\fifth.jpg" class="logo" height="500px" width="500px">
    </div>
    <div style="margin-top: 20px ;">
    <h5><b>You might also like: </b></h5>
</div>
<div class="outer-grid">
<div class="inner-grid">
<img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
</div>
<div class="inner-grid">
<img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
</div>
<div class="inner-grid">
<img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
<img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
</div>
</div>
</div>
</div>

